@import "tailwindcss";

* {
  scrollbar-color: #2563eb #f1f5f9; /* [thumb color] [track color] */
  scrollbar-width: auto;             /* Options: auto | thin | none */
}

/* Scrollbar width & height */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar Track (background) */
::-webkit-scrollbar-track {
  background: #f1f5f9;
}

/* Scrollbar Thumb (draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* Blue */
  border-radius: 5px;
}

/* Scrollbar Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1d4ed8; /* Darker blue */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
